/*
 *
 * Container
 *
 */

 .container {
  margin: auto;
  max-width: 800px;
 }

/*
 *
 * Header
 *
 */

 .header {
  border-bottom: 1px solid #444;
  padding: 10px 0;
 }

 /*
 *
 * Hero
 *
 */

 .hero {
  padding: 10px 0;
 }

  /*
 *
 * Featured Items
 *
 */
