/*
 *
 * Container
 *
 */

 .container {
  margin: auto;
  max-width: 800px;
 }

/*
 *
 * Fonts
 *
 */

 h1, h3, h4, a {
  color: #0b3c5d;
 }

 h2 {
  color: #d9b310;
 }

a {
  font-size: .9em;
}

/*
 *
 * Header
 *
 */

 .header {
  border-bottom: 1px solid #444;
  padding: 10px 0;
 }



 /*
 *
 * Hero
 *
 */

 .hero {
  padding: 20px 0;
 }

  /*
 *
 * Featured Items
 *
 */

.featured-items {
  padding-bottom: 20px;
}

.featured-item {
  padding-bottom: 20px;
}


@media only screen and (max-width: 700px) {
  .logo {
    display: none;
  }
}